#ac_sider {
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	background:rgba(0, 0, 0, 0.2);
	width:260px;
	border-right:1px solid rgba(250, 245, 243, 0.25);
	padding:0.25em 0.5em;
	box-sizing:border-box;
	color:rgba(250, 245, 243, 0.85);
	/*
	background-image:linear-gradient(to bottom, rgba(250, 245, 243, 0.85), rgba(250, 245, 243, 0.85)), url('../images/n/017.jpg');
	background-repeat:repeat, no-repeat;
	background-position:0, 0;
	background-attachment:fixed, fixed;
	background-size:auto, cover;
	*/
}
#ac_sider ul {
	list-style:none;
	border-top:2px solid rgba(250, 245, 243, 0.25);
	border-bottom:2px solid rgba(250, 245, 243, 0.25);
}
#ac_sider ul#menu_main li:not(:last-child):not(:nth-last-child(2)),
#ac_sider ul:not(#menu_main) li:not(:last-child) {
	border-bottom:1px solid rgba(250, 245, 243, 0.25);
}
#ac_sider ul#menu_contact label {
	display:block;
	text-align:left;
	font-size:0.7em;
	padding:0em;
	padding-top:0.5em;
	line-height:0.5em;
}
#ac_sider ul#menu_contact input,
#ac_sider ul#menu_contact textarea {
	width:100%;
	background:rgba(0, 0, 0, 0.15);
	box-sizing:border-box;
}
#ac_sider ul#menu_contact textarea {
	margin-top:0.75em;
	resize:vertical;
	min-height:5em;
}
#ac_sider ul li a {
	display:block;
	font-size:0.6em;
	text-transform:uppercase;
	color:inherit;
	transition:all 0.25s ease;
	margin:0.25em 0em;
	letter-spacing:0.1em;
}
#ac_sider ul li a:hover {
	color:white;
	text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2);
}
/*
#ac_sider ul li a:hover:before {content:'- ';}
#ac_sider ul li a:hover:after {content:' -';}
*/
#ac_sider_title {
	text-align:center;
	font-size:0.9em;
	padding:1em 0em;
	line-height:0.75em;
	padding-bottom:0;
}
#ac_sider_subtitle {
	text-align:center;
	font-size:0.6em;
	letter-spacing:0.1em;
	padding:1em 0em;
	padding-top:0;
}
#ac_sider_copyright {
	text-align:center;
	font-size:0.6em;
	padding:0.6em 0em;
}
#ac_sider_totop {
	border-top:1px solid rgba(250, 245, 243, 0.25);
	display:none;
}
#ac_sider > section:not(:first-child) {
	display:none;
}