/*
 * Angelo Covino Reset Stylesheet (in combo with html5doctor.com reset stylesheet)
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  padding: none;
  margin: 0;
  margin: none;
  border: 0;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input[type="hidden"] {
  display: none;
}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  padding: none;
  border: 0;
  border: none;
}
textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* bordo (su chrome blue) quando la textarea ha il focus */
address {
  font-style: normal;
  font-weight: normal;
}
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
a:hover,
button:hover {
  cursor: pointer;
}
/*
 * html5doctor.com Reset Stylesheet
 * v1.6.1
 * Last Updated: 2010-09-17
 * Author: Richard Clark - http://richclarkdesign.com
 */
input,
button,
select,
option {
  -moz-outline-style: none;
  outline: none;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #ccc;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input,
select {
  vertical-align: middle;
}
/* NEWEST THINGS */
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
/* color:inherit; font:inherit; */
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}

body {
	position:absolute;
	top:0;
	left:0;
	overflow-x:auto;
	//font-family:'Advent Pro';
	//font-family:'Karla';
	font-family:'Lato';
	font-weight:300;
	font-size:20px;
	text-align:center;
	line-height:1.5em;
	background:url('../images/n/017.jpg') top left no-repeat fixed transparent;
	background-size:cover;
}
#menu {
	position:absolute;
	top:0;
	left:0;
	display:inline-block;
	background:rgba(250, 245, 243, 0.85);
	text-align:left;
	padding:0.5em 1em;
	font-size:0.8em;
	color:rgba(0, 0, 0, 0.5);
	text-transform:uppercase;
}
#menu a {
}
#menu a:hover {
	color:black;
}
.corpo {
	display:inline-block;
	font-size:0.8em;
	color:black;
	padding:3em 0em;
	box-sizing:border-box;
}
.bbg1 {
	background-image:url('../images/bg.png'), url('../images/n/blurred-colors-minimalistic-simple-simple-background-1600x1200.jpg');
	background-repeat:repeat, no-repeat;
	background-position:0, 0;
	background-attachment:fixed, fixed;
	background-size:auto, cover;
}
.bbg2 {
	background-image:url('../images/bg.png'), url('../images/n/out_of_focus.jpg');
	background-repeat:repeat, no-repeat;
	background-position:0, 0;
	background-attachment:fixed, fixed;
	background-size:auto, cover;
}
.unicolor {
	background:black;
	font-size:0.6em;
	color:rgba(255, 255, 255, 0.5);
}
.button {
	font-size:0.9em;
	text-transform:lowercase;
	padding:0.5em 1em;
	display:inline-block;
	border-radius:0.25em;
	border:1px solid rgba(255, 255, 255, 0.5);
	background:transparent;
	color:rgba(255, 255, 255, 1);
	transition:all 0.25s ease;

}
.button:hover {
	border:1px solid transparent;
	background:rgba(255, 255, 255, 0.5);
	color:rgba(0, 0, 0, 0.5);
}
h1 {
	font-size:3em;
	color:rgba(0, 0, 0, 0.5);
	text-transform:uppercase;
	font-weight:100;
	line-height:0.9em;
}
h1 span {
	font-size:0.75em;
	font-weight:700;
	letter-spacing:0.4em;
}
#logo {
	display:inline-block;
	padding:1em 1em;
	border-radius:50%;
	background:rgba(190, 68, 68, 0.9);
}
#copyright {
	border-top:3px double gray;
	text-align:center;
	color:rgba(0, 0, 0, 0.5);
	font-size:0.6em;
}
/*
nav {
	margin-top:1em;
	border-radius:0.2em;
	display:inline-block;
	border:1px solid white;
	padding:0em 0.25em;
	padding-bottom:0.25em;
}
nav a {
	display:inline-block;
	color:white;
	font-size:0.75em;
	text-transform:lowercase;
	padding:0em 0.25em;
}
.triangolo_dietro {
	position:absolute;
	left:50%;
	top:-25px;
	margin-left:-50px;
	font-size:0.01em;
	width:0;
	height:0;
	border-style:solid;
	border-width:75px 50px 0 50px;
	border-color:white transparent transparent transparent;
}
*/
#ac_sider {
	display:none;
	position:absolute;
	left:-260px;
	top:0;
	height:100%;
	background:rgba(250, 245, 243, 0.85);
	width:260px;
	border-right:1px solid gray;
	padding:0.25em 0.5em;
	box-sizing:border-box;
}
#ac_sider ul {
	list-style:none;
}
#ac_sider ul li {
}
#ac_sider ul li:not(:last-child) {
	border-bottom:1px solid gray;
}
#ac_sider ul li a {
	display:block;
	font-size:0.6em;
	text-transform:uppercase;
	color:rgba(0, 0, 0, 0.5);
	transition:all 0.25s ease;
	margin:0.25em 0em;
}
#ac_sider ul li a:hover {
	color:rgba(0, 0, 0, 0.9);
	//background:rgba(0, 0, 0, 0.5);
}
#ac_sider ul li a:hover:before {content:'- ';}
#ac_sider ul li a:hover:after {content:' -';}